body{

margin:0;
font-family:Arial;
background:linear-gradient(#ffd6e7,#fff0f6);
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.card{

background:white;
padding:30px;
border-radius:20px;
text-align:center;
box-shadow:0 0 20px rgba(0,0,0,.2);
width:320px;

}

button{

padding:15px 35px;
border:none;
background:#ff4f8b;
color:white;
font-size:18px;
border-radius:40px;
cursor:pointer;
margin-top:20px;

}

.hidden{

display:none;

}

select,input{

padding:10px;
margin:10px;
width:90%;

}
